@keyframes blink-warning {
    70% {
        color: @light;
    }
    to {
        color: @light;
        background-color: @warning;
    }
}
@keyframes blink-critical {
    70% {
      color: @light;
    }
    to {
        color: @light;
        background-color: @critical;
    }
}

/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

/* Nord */
@define-color bg #2E3440;
@define-color light #D8DEE9;
@define-color warning #ebcb8b;
@define-color critical #BF616A;
@define-color mode #434C5E;
@define-color workspacesfocused #4d5c78;
@define-color sound #EBCB8B;
@define-color network #5D7096;
@define-color memory #546484;
@define-color cpu #596A8D;
@define-color temp #4D5C78;
@define-color layout #5e81ac;
@define-color battery #88c0d0;
@define-color nord_bg #434C5E;
@define-color nord_bg_blue #546484;

/* Reset all styles */
* {
    border: none;
    border-radius: 3px;
    min-height: 0;
    margin: 0.2em 0.3em 0.2em 0.3em;
}

/* The whole bar */
#waybar {
    background: transparent;
    color: @light;
    font-family: "JetBrains Nerd Font";
    font-size: 13px;
    font-weight: bold;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#custom-alsa,
#custom-gpu,
#tray,
#backlight,
#language,
#custom-cpugovernor {
    padding-left: 0.6em;
    padding-right: 0.6em;
}

/* Each module that should blink */
#mode,
#memory,
#temperature,
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
    color: @critical;
}

/* Each critical that should blink */
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
    background: @warning;
    color: @nord_bg;
}

/* Each warning that should blink */
#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

/* And now modules themselves in their respective order */
#mode { /* Shown current Sway mode (resize etc.) */
    color: @light;
    background: @mode;
}

/* Workspaces stuff */
#workspaces button {
    font-weight: bold; /* Somewhy the bar-wide setting is ignored*/
    padding: 0;
    opacity: 0.3;
    background: @light;
}
#workspaces button.focused {
    background: @workspacesfocused;
    color: @light;
    opacity: 1;
    padding: 0 0.4em;
}
#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
    opacity: 1;
}
#window {
    margin-right: 40px;
    margin-left: 40px;
    font-weight: normal;
}
#custom-gpu {
    background: @nord_bg;
    font-weight: bold;
    padding: 0 0.6em;
}
#custom-scratchpad-indicator {
    background: @light;
    color: @nord_bg;
    font-weight: bold;
    padding: 0 0.6em;
}
#custom-alsa {
    background: @sound;
}
#network {
    background: @nord_bg_blue;
}
#memory {
    background: @memory;
}
#cpu {
    background: @nord_bg;
    color: @light;
}
#cpu.critical {
    color: @nord_bg;
}
#language {
    background: @nord_bg_blue;
    color: @light;
    padding: 0 0.4em;
}
#custom-cpugovernor {
    background-color: @light;
    color: @nord_bg;
}
#temperature {
    background-color: @nord_bg;
    color: @light;
}
#temperature.critical {
    background:  @critical;
}
#custom-wallpaper {
    background: @nord_bg_blue;
}
#battery {
    background: @battery;
}
#backlight {
    background: @mode;
}
#clock {
    background: @nord_bg_blue;
    color: @light;
}
#clock.date {
    background: @mode;
}
#clock.time {
    background: @mode;
}
#pulseaudio { /* Unsused but kept for those who needs it */
    background: @nord_bg_blue;
    color: @light;
}
#pulseaudio.muted {
    background: @critical;
    color: @critical;
}
#pulseaudio.source-muted {
    background: @sound;
    color: @light;
}
#tray {
    background: @battery;
}
